{% extends "base.html" %}

<title>{% block title %} Travels {% endblock %}</title>
{% block estilo %}
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
{% endblock %}
{% block btn %}href="/addtrip">Add Trip {% endblock %}

{% block content%}
<div class="container-fluid mt-5"  id="cont_index">
  <!-- Tabla mis viajes-->
  <h5 class="fw-bold pt-3 ps-2">Your Trip Schedule</h5>
  <div class="table-responsive" id="tabla">
    <table class="table table-striped text-dark py-1 px-2 text-justify">
      <thead>
        <tr class="fw-bolder">
          <th scope="col">Destination</th>
          <th scope="col">Travel Start Date</th>
          <th scope="col">Travel End Date</th>
          <th scope="col">Plan</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for travel in travels %}
        <tr>
          <th scope="row">
            <a href="view/{{travel.id}}" class="text-decoration-none text-dark"><i class="fas fa-map-marker-alt"></i> {{travel.destination}}</a>
          </th>
          <td>{{travel.start_travel}}</td>
          <td>{{travel.end_travel}}</td>
          <td>{{travel.description}}</td>
          <td>
            <form method="POST" action="eliminar/{{postre.id}}">
              {% csrf_token %}
              <div class="btn-group">
                <a type="button" href="cancel/{{travel.id}}" class="btn border bg-warning text-light"id="cancel_btn" name="cancel_btn"><i class="fas fa-user-minus 2x"></i> Cancel</a>
                <a type="button" href="delete/{{travel.id}}" class="btn border bg-danger text-light ms-2" id="delete_btn" name="delete_btn"><i class="fas fa-trash"></i> Delete</a>
              </div>
            </form>
          </td>
        </tr>
          {% empty %}
          <th scope="row">You have no travels yet</th>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid mt-3" id="cont_index">
  <!-- Tabla otros viajes-->
  <h5 class="fw-bold pt-3 ps-2">Other User's plans</h5>
  <div class="table-responsive" id="tabla">
    <table class="table table-striped text-dark py-2 px-2 text-justify">
      <thead>
        <tr class="fw-bolder">
          <th scope="col">Name</th>
          <th scope="col">Travel Start Date</th>
          <th scope="col">Travel End Date</th>
          <th scope="col">Do you wanna Join??</th>
        </tr>
      </thead>
      <tbody>
        {% for travel in other_travels %}
        <tr>
          <th scope="row">
            <a href="view/{{travel.id}}" class="text-decoration-none text-dark"><i class="fas fa-map-marker-alt"></i> {{travel.destination}}</a>
          </th>
          <td>{{travel.start_travel}}</td>
          <td>{{travel.end_travel}}</td>
          <td>
            <div class="btn-group">
                <a type="button" href="join/{{travel.id}}" class="btn btn-success border text-light" id="join_btn" name="join_btn"><i class="fas fa-user-plus 1x"></i> Join</a>
              </div>
          </td>
        </tr>
        {% empty %}
        <th scope="row">You have no travels yet</th>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  
{% endblock%}